.bg-worker-nav {
    background: #6666dd !important;
}

.bg-monitor-nav {
    background: #339933 !important;
}

.bg-layer {
    background: #e5e5e5 !important;
}

.bg-group-layer {
    background: #ffffff !important;
    border: 1px solid #d5d5d5 !important;
}

.bg-job-layer {
    background: #f5f5ff !important;
    border: 1px solid #dfdfff !important;
}

.bg-job-layer:hover {
    background: #ebebff !important;
    cursor: pointer;
}

.bg-worker-layer {
    background: #efffef !important;
    border: 1px solid #bfffbf !important;
}

.bg-worker-layer:hover {
    background: #e6ffe6 !important;
    cursor: pointer;
}

.fs-7 {
    font-size: 0.7rem;
}

.h7 {
    font-size: 0.7rem;
    font-weight: 600;
}


.text-worker-muted {
    color: #6666dd !important;
}

.text-monitor-muted {
    color: #339933 !important;
}

.text-light-muted {
    color: #bbbbbb !important;
}

.text-status-error {
    color: #990000 !important;
}

.text-status-running {
    color: #009900 !important;
}

.text-status-retrying {
    color: #999900 !important;
}

.text-status-waiting {
    color: #666666 !important;
}

